@font-face {
  font-family: 'NAVDisplay';
  src: url('./fonts/NAVDisplayBETA3utenserif-Bold.otf') format('opentype');
  font-weight: bold;
  font-display: swap;
}
/* Husk å legge fontfilene i public/fonts/ og oppdater url() hvis du bruker woff2/ttf fra Google Fonts */

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Variable';
  src: url('./fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 300 800;
  font-stretch: 75% 100%;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3 Variable';
  src: url('./fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-stretch: 75% 100%;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Variable';
  src: url('./fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-display: swap;
}
